/**
 * @name         Minecraft Based
 * @description  its necesary to use dark mode
 * @author       zeromrja
 * @version      1
 * @source       https://github.com/zeromrja/BetterDiscordMinecraftCSS/blob/main/minecraftbased.css
 */

@font-face {
    font-family: 'Minecraft Five';
    src: url('MinecraftFive.ttf') format('truetype');
}

@font-face {
    font-family: 'Minecraft Seven';
    src: url('MinecraftSeven.ttf') format('truetype');
}

body {
    font-family: 'Minecraft Seven';
    --background-primary: rgba(255, 255, 255, 0.085) !important;
	--background-secondary: black !important;
	--background-tertiary: black !important;
	--background-secondary-alt: black !important;
	--background-accent: black !important;
	--button-secondary-background: hsl(0 0% 10%) !important;
	--activity-card-background: black;
	--home-background: black !important;
}

header {
    font-family: 'Minecraft Five';
}

h1 {
    font-family: 'Minecraft Five', sans-serif;
}

.defaultColor_a595eb{
    font-family: 'Minecraft Seven', sans-serif;
}

.clickableUsername_c32acf h3{
    font-family: 'Minecraft Five', sans-serif;
}

.titleWrapper_fc4f04 div{
    font-family: 'Minecraft Five', sans-serif;
}

.body_bc9cc2 div{
    font-family: 'Minecraft Seven', sans-serif;
}

.body_bc9cc2 h1{
    font-family: 'Minecraft Five', sans-serif;
}
.body_bc9cc2 textarea{
    font-family: 'Minecraft Seven', sans-serif;
}

textarea::placeholder {
    font-family: 'Minecraft Seven', sans-serif;
}

div {
    font-family: 'Minecraft Seven', sans-serif;
}

textarea {
    font-family: 'Minecraft Seven', sans-serif;
}

.headings_ba4d80 h2{
    font-family: 'Minecraft Five', sans-serif;
}

[data-text-variant="display-lg"]{
    font-family: 'Minecraft Five', sans-serif;
}

.panelTitleContainer_b2ca13 div{
    font-family: 'Minecraft Five', sans-serif;
}
